* {
    margin: 0;
    padding: 0;
    
}

.landingPage {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.containerOne {
    
    display: flex;
    border: 1px black;
    font: roboto;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 8px;
    

}
.headerLogo {
    
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;

}
.hLink-One, .hLink-Two, .hLink-Three {

    font-size: 18px;
    color: #e5e7eb

}

.containerTwo{

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #1f2937;
    padding: 8px;
}

.twoLeft,.twoRight {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.twoLeft {

    justify-content: left;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.pOne {
    font-size: 18px;
    color: #e5e7eb ;
}

.signUp {
    background-color: #3882f6;
    text-align: left;
    
}

.containerThree {
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}

.threeTop {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.threeBottom {

    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: space-between;

}

.threeBottom img {

        border: 2px solid #3882f6;
        border-radius: 15px;
        object-fit: cover;
        height: 200px;  
        width: 200px;
}

.containerFour {
    
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: #e5e7eb;
    
}

.quote {

    display: flex;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937

}

.quoted {

    display: flex;
    justify-content: right;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937
    
}

.containerFive {

    display: flex;
    padding: 70px;
    justify-content: center;
    
}

.actionBox {

    display: flex;
    gap: 80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3882f6;
}

.leftContent {

    display: flex;
    flex-direction: column;
    justify-content: left;
}

.rightContent {

    padding-top: 10px;
    justify-content: right;
}
