* {
    margin: 0;
    padding: 0;
}

.Header-Container {
    
    display: flex;
    border: 1px black;
    font: roboto;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 8px;
    

}
.headerLogo {
    
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;

}
.hLink-One, .hLink-Two, .hLink-Three {

    font-size: 18px;
    color: #e5e7eb

}

.containerTwo{

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #1f2937;
    padding: 8px;
}

.twoLeft,.twoRight {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.twoLeft {

    justify-content: left;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.pOne {
    font-size: 18px;
    color: #e5e7eb ;
}

.signUp {
    background-color: #3882f6;
    text-align: left;
    
}

.containerThree {
    display: flex;
    flex-direction: column
    
}

.threeTop {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.threeBottom {

    display: flex;
    text-align: center;

}
